@import "react-datepicker/dist/react-datepicker.css";

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --blue: #1e90ff;
    --white: #ffffff;
  }

.max_box {
    max-width: 1100px;
    margin: 0 auto;
}

button {
    cursor: pointer;
}